* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
}

#banner {
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 3px;
    text-align: center;
    background-color: rgb(1, 1, 75);
    color: white;
}

#adduser {
    background-color: grey;
    border-color: black;
    font-size: 0.6em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.inline {
    border-style: solid;
    border-color: aqua;
    display: block;
}

.question {
    text-align: center;
}

#quiz {
    background-color:rgb(1, 1, 75);
    color: white;
}

#welcome {
    background-color: yellow;
    text-align: center;
    font-size: 0.8em;
}

#endbtns{
    text-align: center;
}

#finish {
    padding: 24px 32px;
    margin: 0 auto;
}

#img-container {
    text-align: center;
    background-color: rgb(1, 1, 75);
}
