* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    background-color: rgb(1, 1, 75);
    color: white;
}

/*heading styles*/
#banner {
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 3px;
    text-align: center;
    background-color: rgb(1, 1, 75);
    color: white;
}

#welcome {
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 0.8em;
}

/* Style of the username box */
#adduser {
    background-color: rgb(52, 52, 52);
    border-color: black;
    font-size: 0.6em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Style of the question options and quiz */
.inline {
    border-style: solid;
    border-color: aqua;
    display: block;
}

.question {
    text-align: center;
}

/* Button Styles */
#endbtns{
    text-align: center;
}

#finish {
    padding: 24px 32px;
    margin: 0 auto;
}

/* Image container for the image that displays */
#img-container {
    text-align: center;
    background-color: rgb(1, 1, 75);
}

.select {
    background-color: green;
}